@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <p>總瀏覽次數: @ViewData["ReqeustCount"]</p>
    <p>IP: @ViewData["userIP"]</p>
    <p>使用者瀏覽次數: @ViewData["userReqeustCount"]</p>
</div>
